In [155]:
cd /Users/vicky/Desktop/CitPy/citpy_analysis

/Users/vicky/Desktop/CitPy/citpy_analysis

In [156]:
import pandas as pd

In [157]:
from pandas.io.json import json_normalize

In [158]:
import json

In [159]:
data = pd.read_csv('classifications.csv')

In [160]:
data = data[20:25]

In [161]:
data

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
20,31365344,not-logged-in-3dfa3cd88ac5a4508e6c,NaN,3dfa3cd88ac5a4508e6c,3449,Measure Leaves,5.8,2017-03-03 15:47:48 UTC,NaN,NaN,"{""session"":""9f32132514ee144a97288d9dcccfefc78a...","[{""task"":""T0"",""task_label"":""Drag your finger t...","{""6262349"":{""retired"":null,""latitude"":""-54.954...",6262349
21,31368611,not-logged-in-3dfa3cd88ac5a4508e6c,NaN,3dfa3cd88ac5a4508e6c,3449,Measure Leaves,5.8,2017-03-03 15:59:54 UTC,NaN,NaN,"{""session"":""bbb8c49d0e794a77b9ef18559ccd88689d...","[{""task"":""T0"",""task_label"":""Drag your finger t...","{""6262350"":{""retired"":null,""latitude"":""-54.892...",6262350
22,31377675,fieldmuseumexhibits,1526226.0,3dfa3cd88ac5a4508e6c,3449,Measure Leaves,5.8,2017-03-03 16:42:33 UTC,NaN,NaN,"{""session"":""1e9e13f70528b9a475faa2025606838446...","[{""task"":""T0"",""task_label"":""Drag your finger t...","{""6262389"":{""retired"":null,""latitude"":""-40.967...",6262389
23,31380650,not-logged-in-c9f87ea6dca2d92c2aa6,NaN,c9f87ea6dca2d92c2aa6,3449,Measure Leaves,5.8,2017-03-03 16:55:02 UTC,NaN,NaN,"{""session"":""76c4706807bd5dc77cd2666a2013aebef7...","[{""task"":""T0"",""task_label"":""Drag your finger t...","{""6262407"":{""retired"":null,""latitude"":""-40.967...",6262407
24,31380680,not-logged-in-c9f87ea6dca2d92c2aa6,NaN,c9f87ea6dca2d92c2aa6,3449,Measure Leaves,5.8,2017-03-03 16:55:08 UTC,NaN,NaN,"{""session"":""76c4706807bd5dc77cd2666a2013aebef7...","[{""task"":""T0"",""task_label"":""Drag your finger t...","{""6262350"":{""retired"":null,""latitude"":""-54.892...",6262350

In [162]:
test = data.at[20, 'annotations']

In [163]:
json_test = json.loads(test)

In [164]:
json_test[0]

{'task': 'T0',
 'task_label': 'Drag your finger to draw lines to mark the **width** and **length** of the microleaves in the image on the left. ',
 'value': [{'x1': 367,
   'x2': 513,
   'y1': 367,
   'y2': 208,
   'tool': 0,
   'frame': 0,
   'details': [],
   'tool_label': 'Leaf Ruler'},
  {'x1': 411,
   'x2': 499,
   'y1': 228,
   'y2': 292,
   'tool': 0,
   'frame': 0,
   'details': [],
   'tool_label': 'Leaf Ruler'}]}

In [165]:
one = json_test[0]

In [166]:
one['value']

[{'x1': 367,
  'x2': 513,
  'y1': 367,
  'y2': 208,
  'tool': 0,
  'frame': 0,
  'details': [],
  'tool_label': 'Leaf Ruler'},
 {'x1': 411,
  'x2': 499,
  'y1': 228,
  'y2': 292,
  'tool': 0,
  'frame': 0,
  'details': [],
  'tool_label': 'Leaf Ruler'}]

In [167]:
values = one['value']

In [168]:
values[0]

{'x1': 367,
 'x2': 513,
 'y1': 367,
 'y2': 208,
 'tool': 0,
 'frame': 0,
 'details': [],
 'tool_label': 'Leaf Ruler'}

In [169]:
one_entry = values[0]

In [170]:
one_entry['x1']

367

In [171]:
for e in one['value']:
    print(e)

{'x1': 367, 'x2': 513, 'y1': 367, 'y2': 208, 'tool': 0, 'frame': 0, 'details': [], 'tool_label': 'Leaf Ruler'}
{'x1': 411, 'x2': 499, 'y1': 228, 'y2': 292, 'tool': 0, 'frame': 0, 'details': [], 'tool_label': 'Leaf Ruler'}

In [175]:
def make_new_col(annotations_col):
    """this takes in annotations column, jsonifies and puts into dataframe
    """
    json_col = json.loads(annotations_col)
    for entry in json_col:
        #print(entry)
        #annotations_col.name
        x1=[]
        y1=[]
        x2=[]
        y2=[]
        for e in entry['value']:   
            x1.append(e['x1'])
            y1.append(e['y1'])
            x2.append(e['x2'])
            y2.append(e['y2'])
    return pd.DataFrame({'x1':x1, 'y1':y2, 'x2':x2, 'y2':y2})

In [176]:
data['new'] = data['annotations'].apply(make_new_col)

In [180]:
type(data.at[20, 'new'])

pandas.core.frame.DataFrame

In [192]:
def make_new_df(new_col):
    newdf = pd.DataFrame()
    for row in new_col:
        newdf.append(row)
    return newdf

In [194]:
df = make_new_df(data['new'])

In [195]:
df

Empty DataFrame
Columns: []
Index: []

In [196]:
#different strategy - instead of using pd.apply, let's try iterating through rows

In [231]:
def iter_val_pull(column):
    df = pd.DataFrame(columns = ['row#', 'x1', 'y1', 'x2', 'y2'])
    for i, row in enumerate(column):
        #print(i, row)
        for session in json.loads(row):
            for e in session['value']:
                d = {'row#':i, 'x1':e['x1'], 'y1': e['y1'], 'x2': e['x2'], 'y2': e['y2']})
                print(pd.DataFrame(d, index=))
   # print(df)

In [232]:
iter_val_pull(data['annotations'])

{'row#': 0, 'x1': 367, 'y1': 367, 'x2': 513, 'y2': 208}
{'row#': 0, 'x1': 411, 'y1': 228, 'x2': 499, 'y2': 292}
{'row#': 1, 'x1': 494, 'y1': 116, 'x2': 363, 'y2': 261}
{'row#': 1, 'x1': 381, 'y1': 127, 'x2': 476, 'y2': 205}
{'row#': 2, 'x1': 448.5, 'y1': 272, 'x2': 457.5, 'y2': 450}
{'row#': 2, 'x1': 403.5, 'y1': 334, 'x2': 499.5, 'y2': 331}
{'row#': 3, 'x1': 506.154052734375, 'y1': 390.36083984375, 'x2': 693.00927734375, 'y2': 351.509765625}
{'row#': 3, 'x1': 611.6069946289062, 'y1': 314.50872802734375, 'x2': 635.6576538085938, 'y2': 397.76104736328125}
{'row#': 3, 'x1': 243.44676208496094, 'y1': 231.2564239501953, 'x2': 56.59156799316406, 'y2': 218.30606079101562}
{'row#': 3, 'x1': 180.54501342773438, 'y1': 164.65457153320312, 'x2': 165.74459838867188, 'y2': 275.65765380859375}
{'row#': 4, 'x1': 465.45294189453125, 'y1': 111.00308227539062, 'x2': 380.3505554199219, 'y2': 246.0568389892578}
{'row#': 4, 'x1': 380.3505554199219, 'y1': 109.15303039550781, 'x2': 487.6535339355469, 'y2': 196.10545349121094}

In [233]:
#what if the function ran on the whole datasheet,
#with the for loop on one column within the funciton?

In [234]:
def test_whole_df_idea(df):
    for row in df:
        print(row)

In [235]:
test_whole_df_idea(data)

classification_id
user_name
user_id
user_ip
workflow_id
workflow_name
workflow_version
created_at
gold_standard
expert
metadata
annotations
subject_data
subject_ids
new

In [236]:
#this prints column name... not very helpful

In [245]:
for index, row in data.iterrows():
    print(index, row['user_name'], iter_val_pull(data['annotations']))

{'row#': 0, 'x1': 367, 'y1': 367, 'x2': 513, 'y2': 208}
{'row#': 0, 'x1': 411, 'y1': 228, 'x2': 499, 'y2': 292}
{'row#': 1, 'x1': 494, 'y1': 116, 'x2': 363, 'y2': 261}
{'row#': 1, 'x1': 381, 'y1': 127, 'x2': 476, 'y2': 205}
{'row#': 2, 'x1': 448.5, 'y1': 272, 'x2': 457.5, 'y2': 450}
{'row#': 2, 'x1': 403.5, 'y1': 334, 'x2': 499.5, 'y2': 331}
{'row#': 3, 'x1': 506.154052734375, 'y1': 390.36083984375, 'x2': 693.00927734375, 'y2': 351.509765625}
{'row#': 3, 'x1': 611.6069946289062, 'y1': 314.50872802734375, 'x2': 635.6576538085938, 'y2': 397.76104736328125}
{'row#': 3, 'x1': 243.44676208496094, 'y1': 231.2564239501953, 'x2': 56.59156799316406, 'y2': 218.30606079101562}
{'row#': 3, 'x1': 180.54501342773438, 'y1': 164.65457153320312, 'x2': 165.74459838867188, 'y2': 275.65765380859375}
{'row#': 4, 'x1': 465.45294189453125, 'y1': 111.00308227539062, 'x2': 380.3505554199219, 'y2': 246.0568389892578}
{'row#': 4, 'x1': 380.3505554199219, 'y1': 109.15303039550781, 'x2': 487.6535339355469, 'y2': 196.10545349121094}
20 not-logged-in-3dfa3cd88ac5a4508e6c None
{'row#': 0, 'x1': 367, 'y1': 367, 'x2': 513, 'y2': 208}
{'row#': 0, 'x1': 411, 'y1': 228, 'x2': 499, 'y2': 292}
{'row#': 1, 'x1': 494, 'y1': 116, 'x2': 363, 'y2': 261}
{'row#': 1, 'x1': 381, 'y1': 127, 'x2': 476, 'y2': 205}
{'row#': 2, 'x1': 448.5, 'y1': 272, 'x2': 457.5, 'y2': 450}
{'row#': 2, 'x1': 403.5, 'y1': 334, 'x2': 499.5, 'y2': 331}
{'row#': 3, 'x1': 506.154052734375, 'y1': 390.36083984375, 'x2': 693.00927734375, 'y2': 351.509765625}
{'row#': 3, 'x1': 611.6069946289062, 'y1': 314.50872802734375, 'x2': 635.6576538085938, 'y2': 397.76104736328125}
{'row#': 3, 'x1': 243.44676208496094, 'y1': 231.2564239501953, 'x2': 56.59156799316406, 'y2': 218.30606079101562}
{'row#': 3, 'x1': 180.54501342773438, 'y1': 164.65457153320312, 'x2': 165.74459838867188, 'y2': 275.65765380859375}
{'row#': 4, 'x1': 465.45294189453125, 'y1': 111.00308227539062, 'x2': 380.3505554199219, 'y2': 246.0568389892578}
{'row#': 4, 'x1': 380.3505554199219, 'y1': 109.15303039550781, 'x2': 487.6535339355469, 'y2': 196.10545349121094}
21 not-logged-in-3dfa3cd88ac5a4508e6c None
{'row#': 0, 'x1': 367, 'y1': 367, 'x2': 513, 'y2': 208}
{'row#': 0, 'x1': 411, 'y1': 228, 'x2': 499, 'y2': 292}
{'row#': 1, 'x1': 494, 'y1': 116, 'x2': 363, 'y2': 261}
{'row#': 1, 'x1': 381, 'y1': 127, 'x2': 476, 'y2': 205}
{'row#': 2, 'x1': 448.5, 'y1': 272, 'x2': 457.5, 'y2': 450}
{'row#': 2, 'x1': 403.5, 'y1': 334, 'x2': 499.5, 'y2': 331}
{'row#': 3, 'x1': 506.154052734375, 'y1': 390.36083984375, 'x2': 693.00927734375, 'y2': 351.509765625}
{'row#': 3, 'x1': 611.6069946289062, 'y1': 314.50872802734375, 'x2': 635.6576538085938, 'y2': 397.76104736328125}
{'row#': 3, 'x1': 243.44676208496094, 'y1': 231.2564239501953, 'x2': 56.59156799316406, 'y2': 218.30606079101562}
{'row#': 3, 'x1': 180.54501342773438, 'y1': 164.65457153320312, 'x2': 165.74459838867188, 'y2': 275.65765380859375}
{'row#': 4, 'x1': 465.45294189453125, 'y1': 111.00308227539062, 'x2': 380.3505554199219, 'y2': 246.0568389892578}
{'row#': 4, 'x1': 380.3505554199219, 'y1': 109.15303039550781, 'x2': 487.6535339355469, 'y2': 196.10545349121094}
22 fieldmuseumexhibits None
{'row#': 0, 'x1': 367, 'y1': 367, 'x2': 513, 'y2': 208}
{'row#': 0, 'x1': 411, 'y1': 228, 'x2': 499, 'y2': 292}
{'row#': 1, 'x1': 494, 'y1': 116, 'x2': 363, 'y2': 261}
{'row#': 1, 'x1': 381, 'y1': 127, 'x2': 476, 'y2': 205}
{'row#': 2, 'x1': 448.5, 'y1': 272, 'x2': 457.5, 'y2': 450}
{'row#': 2, 'x1': 403.5, 'y1': 334, 'x2': 499.5, 'y2': 331}
{'row#': 3, 'x1': 506.154052734375, 'y1': 390.36083984375, 'x2': 693.00927734375, 'y2': 351.509765625}
{'row#': 3, 'x1': 611.6069946289062, 'y1': 314.50872802734375, 'x2': 635.6576538085938, 'y2': 397.76104736328125}
{'row#': 3, 'x1': 243.44676208496094, 'y1': 231.2564239501953, 'x2': 56.59156799316406, 'y2': 218.30606079101562}
{'row#': 3, 'x1': 180.54501342773438, 'y1': 164.65457153320312, 'x2': 165.74459838867188, 'y2': 275.65765380859375}
{'row#': 4, 'x1': 465.45294189453125, 'y1': 111.00308227539062, 'x2': 380.3505554199219, 'y2': 246.0568389892578}
{'row#': 4, 'x1': 380.3505554199219, 'y1': 109.15303039550781, 'x2': 487.6535339355469, 'y2': 196.10545349121094}
23 not-logged-in-c9f87ea6dca2d92c2aa6 None
{'row#': 0, 'x1': 367, 'y1': 367, 'x2': 513, 'y2': 208}
{'row#': 0, 'x1': 411, 'y1': 228, 'x2': 499, 'y2': 292}
{'row#': 1, 'x1': 494, 'y1': 116, 'x2': 363, 'y2': 261}
{'row#': 1, 'x1': 381, 'y1': 127, 'x2': 476, 'y2': 205}
{'row#': 2, 'x1': 448.5, 'y1': 272, 'x2': 457.5, 'y2': 450}
{'row#': 2, 'x1': 403.5, 'y1': 334, 'x2': 499.5, 'y2': 331}
{'row#': 3, 'x1': 506.154052734375, 'y1': 390.36083984375, 'x2': 693.00927734375, 'y2': 351.509765625}
{'row#': 3, 'x1': 611.6069946289062, 'y1': 314.50872802734375, 'x2': 635.6576538085938, 'y2': 397.76104736328125}
{'row#': 3, 'x1': 243.44676208496094, 'y1': 231.2564239501953, 'x2': 56.59156799316406, 'y2': 218.30606079101562}
{'row#': 3, 'x1': 180.54501342773438, 'y1': 164.65457153320312, 'x2': 165.74459838867188, 'y2': 275.65765380859375}
{'row#': 4, 'x1': 465.45294189453125, 'y1': 111.00308227539062, 'x2': 380.3505554199219, 'y2': 246.0568389892578}
{'row#': 4, 'x1': 380.3505554199219, 'y1': 109.15303039550781, 'x2': 487.6535339355469, 'y2': 196.10545349121094}
24 not-logged-in-c9f87ea6dca2d92c2aa6 None

In [246]:
#above we are able to access index, 
#username, and partially unpack coordinate data into line segments.

In [ ]:
#next: adjust iter_val_pull function so coordinate data is put into more useful format...
#figure out how to merge this information into one clean df