In [88]:
cd /Users/vicky/Desktop/CitPy/citpy_analysis

/Users/vicky/Desktop/CitPy/citpy_analysis

In [89]:
import pandas as pd

In [90]:
from pandas.io.json import json_normalize

In [91]:
import json

In [92]:
data = pd.read_csv('classifications.csv')

In [93]:
data = data[20:25]

In [94]:
jsonify = lambda x: json.loads(x)

In [100]:
data['json_annotations'] = data['annotations'].apply(jsonify)

In [101]:
data['json_annotations']

20    [{'task': 'T0', 'task_label': 'Drag your finge...
21    [{'task': 'T0', 'task_label': 'Drag your finge...
22    [{'task': 'T0', 'task_label': 'Drag your finge...
23    [{'task': 'T0', 'task_label': 'Drag your finge...
24    [{'task': 'T0', 'task_label': 'Drag your finge...
Name: json_annotations, dtype: object

In [118]:
def get_segments(json_data):
    """
    takes json object as parameter
    returns dataframe with individual segment coordinates stored in a row
    """
    for piece in json_data:
        return([pd.DataFrame(json_normalize(entry), columns=['x1', 'x2', 'y1', 'y2']) for entry in piece["value"]], ignore_index = True)

In [120]:
newdf = data['json_annotations'].apply(get_segments)

In [121]:
newdf

20        x1   x2   y1   y2
0  367  513  367  208
1 ...
21        x1   x2   y1   y2
0  494  363  116  261
1 ...
22          x1     x2   y1   y2
0  448.5  457.5  272...
23               x1          x2          y1         ...
24               x1          x2          y1         ...
Name: json_annotations, dtype: object

AttributeError: 'str' object has no attribute 'values'

In [73]:
newdf = pd.DataFrame(columns = ['x1', 'x2', 'y1', 'y2'])

In [74]:
newdf

Empty DataFrame
Columns: [x1, x2, y1, y2]
Index: []